.about {
  margin-bottom: 150px;
}

.about__title {
  margin-bottom: 30px;
}

.about__info {
  max-width: 1048px;
  margin-bottom: 27px;
  font-size: 45px;
  line-height: 61.47px;
}

@media (max-width: 1199px) {
  .about {
    margin-bottom: 120px;
  }

  .about__info {
    margin-bottom: 32px;
    max-width: 690px;
    font-size: 35px;
    line-height: 47.81px;
  }
}
/* @Media 1199*/

@media (max-width: 767px) {
  .about {
    margin-bottom: 80px;
  }

  .about__title {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 19.12px;
  }

  .about__info {
    margin-bottom: 28px;
    font-size: 22px;
    line-height: 30.05px;
    width: 100%;
  }

  .about__btn {
    padding: 15px 27px;
    font-size: 16px;
    line-height: 21.86px;
  }
}
/* @Media 767*/
