.full-screen {
  height: 717px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../resources/full-screen.jpg);
  background-position: 50%;
}

.full-screen__container {
  position: relative;
  height: 100%;
}

.full-screen__text {
  position: absolute;
  bottom: 60px;
  max-width: 443px;
  color: #fff;
}
