.gallery {
  height: 717px;
  position: relative;
}

.gallery__wrapper {
  border: 10px solid red;
}

.gallery__title {
  position: absolute;
  top: 67px;
  font-size: 22px;
  line-height: 30.05px;
  color: #fff;
  z-index: 1;
}

.gallery__slides {
  position: relative;
  height: 100%;
  width: 100%;
}

.gallery__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
}

.gallery__slide_active {
  opacity: 1;
}

.gallery__slide-1 {
  background-image: url(../resources/gallary/1.jpg);
}
.gallery__slide-2 {
  background-image: url(../resources/gallary/2.jpg);
}
.gallery__slide-3 {
  background-image: url(../resources/gallary/3.jpg);
}
.gallery__slide-4 {
  background-image: url(../resources/gallary/4.jpg);
}

.gallery__text {
  position: absolute;
  top: 575px;
  max-width: 443px;
  line-height: 40.98px;
  font-size: 30px;
  color: #fff;
}

.gallery__controls {
  position: absolute;
  font-size: 24px;
  width: 100%;
  bottom: 167px;
}

.gallery__controls-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.gallery__control:hover {
  opacity: 0.5;
}

.gallery__control-next {
  cursor: pointer;
  background-image: url(../resources/gallary/right.png);
}

.gallery__control-previous {
  cursor: pointer;
  margin-right: 37px;
  background-image: url(../resources/gallary/left.png);
}

.gallery__control-next:hover,
.gallery__control-previous:hover {
  opacity: 50%;
}

.gallery__control-img {
  height: 33px;
  width: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .gallery {
    height: 536px;
  }

  .gallery__slide {
    background-position: 50% 100%;
  }

  .gallery__title {
    padding-left: 35px;
    top: 80px;
    font-size: 20px;
    line-height: 27.32px;
  }

  .gallery__text {
    padding-left: 35px;
    top: 388px;
    max-width: 400px;
    font-size: 25px;
    line-height: 34.15px;
  }

  .gallery__controls {
    padding-left: 35px;
    bottom: 155px;
  }
}

@media (max-width: 767px) {
  .gallery {
    height: 408px;
  }

  .gallery__controls {
    padding: 0;
    bottom: 50%;
  }

  .gallery__control-img {
    height: 25px;
    width: 14px;
  }

  .gallery__controls-wrapper {
    justify-content: space-between;
  }

  .gallery__control-previous {
    margin-right: 0;
  }

  .gallery__title {
    padding: 0;
    top: 61px;
    font-size: 14px;
    line-height: 19.12px;
  }

  .gallery__text {
    padding: 0;
    top: 296px;
    max-width: 280px;
    font-size: 19.01px;
    line-height: 25.97px;
  }
}
