.order__form {
}

.order__title {
  margin-bottom: 4px;
  font-size: 45px;
  line-height: 61.47px;
  color: #000;
}

.order__text {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 24.59px;
  color: #000;
}

.order__input {
  margin-bottom: 40px;
  width: 100%;
}

.order__input:last-child {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .order__title {
    padding-bottom: 11px;
    font-size: 25px;
    line-height: 34.15px;
  }

  .order__text {
    font-size: 14px;
    line-height: 19.12px;
  }

  .order__input {
    font-size: 18px;
    line-height: 24.59px;
  }
}
