.projects {
  margin-bottom: 150px;
}

.projects__title {
  margin-bottom: 30px;
}

.project-list {
  margin-bottom: 89px;
}

.project-list__img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: 0 95%;
  margin-bottom: 16px;
}

.project-list__title {
  margin-bottom: 17px;
  line-height: 36px;
}

.project-list__link {
  display: inline-block;
  text-decoration: none;
  color: #ad1818;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
}

.projects__btn {
  width: 100%;
  padding: 56px 0;
  border: 1px solid #ad1818;
  border-radius: 5px;
  display: block;
  background: #fff;
  color: #ad1818;
  text-decoration: none;
  text-align: center;
  font-family: Manrope;
  font-size: 30px;
  font-weight: 400;
  line-height: 40.98px;
}

.projects__btn:hover {
  background: #ad1818;
  color: #fff;
}
/* Projects */

@media (max-width: 1199px) {
  .projects {
    margin-bottom: 100px;
  }

  .project-list__title {
    line-height: 34.15px;
    margin-bottom: 10px;
  }

  .project-list {
    margin-bottom: 80px;
  }

  .project-list:last-child {
    margin-bottom: 98px;
  }

  .project-list__img {
    margin-bottom: 13px;
  }

  .projects__btn {
    padding: 55px 0;
  }
}
/* @Media 1199*/

@media (max-width: 767px) {
  .projects {
    margin-bottom: 80px;
  }

  .projects__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19.12px;
  }

  .project-list {
    margin-bottom: 50px;
  }

  .project-list:last-child {
    margin-bottom: 61px;
  }

  .project-list__img {
    margin-bottom: 18px;
    height: 250px;
  }

  .project-list__title {
    font-size: 18px;
    line-height: 24.59px;
  }

  .project-list__link {
    font-size: 16px;
    line-height: 21.86px;
  }

  .projects__btn {
    padding: 34px 0;
    font-size: 22px;
    line-height: 30.05px;
  }
}
/* @Media 767*/
