.reviews {
  padding: 150px 0 149px 0;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__lists {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  column-gap: 50px;
}

.reviews__list {
  width: calc(50% - 25px);
}

.reviews__list:last-child:nth-child(odd) {
  width: 75%;
}
.reviews__subtitle {
  margin-bottom: 14px;
  font-size: 45px;
  font-weight: 400;
  line-height: 61.47px;
}
.reviews__text {
  font-size: 22px;
  line-height: 30.05px;
}

@media (max-width: 1199px) {
  .reviews {
    padding-top: 121px;
    padding-bottom: 86px;
  }

  .reviews__lists {
    row-gap: 80px;
  }

  .reviews__subtitle {
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 47.81px;
  }

  .reviews__title:last-child {
    margin-top: 100px;
    padding-top: 100px;
  }

  .reviews__text {
    font-size: 20px;
    line-height: 27.32px;
  }
}

@media (max-width: 767px) {
  .reviews {
    padding-top: 81px;
    padding-bottom: 79px;
  }

  .reviews__title {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 19.12px;
  }

  .reviews__lists {
    flex-direction: column;
  }

  .reviews__list {
    width: 100%;
  }

  .reviews__list:last-child:nth-child(odd) {
    width: 100%;
  }

  .reviews__subtitle {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34.15px;
  }

  .reviews__text {
    font-size: 16px;
    line-height: 21.86px;
  }
}
