
.services {
    padding: 150px 0;
    background: #121212;
    color: #fff;
}

.services__title {
    padding-left: 2px;
    margin-bottom: 34px;
}

.services__container-black {
    padding: 150px 125px;
}

.service-list {
    margin-bottom: 61px;
}

.service-list:last-child{
    margin-bottom: 0;
}

.service-list__img {
    height: 270px;
    max-width: 100%;
    margin-bottom: 12px;
    object-fit: cover;
}

.service-list__title {
    padding-left: 5px;
}