* {
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    font-family: "Manrope", "sans-serif";
}

h2 {
    font-size: 18px;
    line-height: 24.59px;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    line-height: 40.98px;
}

h1,
h2,
h3,
a,
p,
div {
    letter-spacing: -0.03em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 33px 0 70px 0;
    color: #121212;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 127px;
    height: 22px;
    display: inline-block;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav__lists {
    display: inline-block;
}

.nav__list {
    position: relative;
    margin-right: 58px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
}

.nav__list:last-child {
    margin-right: 0;
}

.nav__link {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.nav__link_underlined:hover:after {
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 1px;
    content: '';
    opacity: 50%;
    display: block;
    background: black;
}


/* Nav */

.interior {
    padding-bottom: 151px;
}

.interior__title {
    width: 956px;
    margin-bottom: 30px;
    line-height: 60px;
    font-size: 60px;
    line-height: 60px;
}

.interior__wrapper {
    position: relative;
    height: 500px;
}

.interior__img {
    height: 100%;
    object-fit: cover;

}

.interior__text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-size: 20px;
    line-height: 27.32px;
    color: #fff;

}
/* Interior */

.about {
    margin-bottom: 150px;
}

.about__title {
    margin-bottom: 30px;
}

.about__info {
    padding-left: 3px;
    max-width: 1048px;
    margin-bottom: 27px;
    font-size: 45px;
    line-height: 61.47px;
}

.about__btn {
    padding: 20px 41px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    background: #ad1818;
    color: #fff;
    line-height: 27.32px;
    font-size: 20px;
    font-family: inherit;
}
/* About */

.projects {
    margin-bottom: 150px;
}

.projects__title {
    margin-bottom: 30px;
}

.project-list__img {
    height: 100%;
    object-fit: cover;
    margin-bottom: 16px;
}

.project-list__title {
    margin-bottom: 17px;
    line-height: 36px;
}

.project-list__link {
    margin-bottom: 91px;
    display: inline-block;
    text-decoration: none;
    color: #AD1818;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
}

.project-list__link:last-child {
    margin-bottom: 89px;
}

.projects__btn {
    width: 100%;
    padding: 56px 0;
    border: 1px solid #AD1818;
    border-radius: 5px;
    display: block;
    background: #fff;
    color: #AD1818;
    text-decoration: none;
    text-align: center;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
}

.projects__btn:hover {
    background: #AD1818;
    color: #fff;
}
/* Projects */

.services {
    padding: 150px 0;
    background: #121212;
    color: #fff;
}

.services__title {
    padding-left: 2px;
    margin-bottom: 34px;
}

.services__container-black {
    padding: 150px 125px;
}

.service-list {
    margin-bottom: 61px;
}

.service-list:last-child{
    margin-bottom: 0;
}

.service-list__img {
    height: 100%;
    margin-bottom: 12px;
    object-fit: cover;
}

.service-list__title {
    padding-left: 5px;
}

/* Services */

.full-screen {
    height: 717px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../resources/full-screen.jpg);
    background-position: 50%;
}


.full-screen__container {
    position: relative;
    height: 100%
}

.full-screen__text {
    position: absolute;
    bottom: 60px;
    max-width: 443px;
    color: #fff;
}

/* Full screen */
.contacts {
    padding: 186px 0 160px 0;
}

.wrapper {
    width: 100px;
    height: 100px;
}

.contacts__wrapper {
    position: relative;
}

.contacts__wrapper:after {
    position: absolute;
    top: -36px;
    left: -5px;
    width: 24px;
    height: 24px;
    content: '';
    background-image: url(../resources/iphone-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;

}

.contacts__text {
    margin-bottom: 34px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    text-transform: uppercase;
}
.contacts__lists {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}

.contacts__link-number {
    display: block;
    margin-bottom: 31px;
}

.contacts__link-mail {
    position: relative;
    opacity: 50%;
}

.contacts__link-mail:after {
    position: absolute;
    content: '';
    height: 2px;
    left: 3px;
    bottom: 2px;
    width: 407px;
    display: block;
    background: black;
    opacity: 50%;
}

/* Contacts */

.footer {
    padding: 58px 0 30px 0;
    background: #121212;
    color: #fff;
}

.footer__wrapper {
    margin-bottom: 87px;
    display: flex;
    justify-content: center;
}

.nav__link_transparent:hover {
    opacity: 50%;
}

.footer__text {
    text-align: center;
    opacity: 50%;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;

}

/* Footer */


