* {
    letter-spacing: -0.03em;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
}

section {
    padding: 0 125px 150px 125px;
}

.container {
    width: 1400px;
    margin: 0 auto;
    background: #fff;
}

.header__title {
    width: 956px;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
}

.header__img {
    position:relative;
    width: 1150px;
    height: 500px;
    background-image: url(../images/1.jpg);
}

.header__text {
    position:absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    color: white;
    line-height: 27.32px;
    font-size: 20px;
}
/* Header */

.about__info {
    max-width: 1048px;
    margin-bottom: 30px;
    line-height: 61.47px;
    font-size: 45px;
}

.about__btn {
    padding: 20px 40px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    background: #ad1818;
    color: #fff;
    line-height: 27.32px;
    font-size: 20px;
    font-family: inherit;
}
/* About */

.project-list__img {
    width: 1150px;
    height: 450px;
    margin-bottom: 15px;
}

.project-list__title {
    margin-bottom: 15px;
}

.project-list__link {
    margin-bottom: 90px;
    display: inline-block;
    text-decoration: none;
    color: #AD1818;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
}

.projects__btn {
    width: 100%;
    padding: 56px 0;
    border: 1px solid #AD1818;
    border-radius: 5px;
    display: block;
    background: #fff;
    color: #AD1818;
    text-decoration: none;
    text-align: center;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
}

.projects__btn:hover {
    background: #AD1818;
    color: #fff;
}
/* Projects */

.services {
    padding: 0;
    background: #121212;
    color: #fff;
}

.services__container-black {
    padding: 150px 125px;
}

.service-list {
    margin-bottom: 60px;
}

.service-list:last-child{
    margin-bottom: 0;
}

.service-list__img {
    width: 1150px;
    height: 270px;
    margin-bottom: 15px;
}

/* Services */
